.buttonsArchivo {
    margin-top: 30px;
    letter-spacing: 8px;
    margin-left: 50px;
    flex-direction: row;
    padding-bottom: 20px;
}
.buttonsRubros{
    margin-top: 65px;
    letter-spacing: 8px;
    margin-left: 50px;
    flex-direction: row;
    padding-bottom: 20px;

}
.buttonsClientes{

flex: 1;
text-align: center;
flex-direction: row;
margin-top: 0.5rem; /* 8px */
margin-bottom: 0.5rem; /* 8px */
}
.buttonsProveedores{
  flex: 1;
  letter-spacing: 8px;
}
.textboxClientes{
flex: 5;
display: flex;
flex-direction:column ;

}
.LabelDate{
    margin-top: 7px;
    white-space: nowrap;
}
.textLabels{
font-weight:500;
letter-spacing: 0.5px;
padding-bottom: 24px;
}
.title{
position: absolute;

    letter-spacing: 2px;
    
}
@font-face {
    font-family: Brothers;
    src: url("../../assets/fonts/Brothers_Regular.otf");
  }
  
  .Brothers{
  
    font-family: Brothers;
  }
  @font-face {
    font-family: Berlingske;
    src: url("../../assets/fonts/BerlingskeSerif-Regular.ttf");
  }
  
  .Berlingske{
  
    font-family: Berlingske;
  }
  .searchBar{

    position: absolute;
    right: 125px;
  }